/* Variables */

$color-light: #fff;
$color-dark: #000000;
$color-one: #fffc61;
$color-two: #cccccc;

/* Global */
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
}

.container-flex { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
}

/* Navigation */
.navigation {
    padding: 12px 0;
    h1 {
        color: $color-one;
    }
    
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        
        li {
            display: inline-block;
            margin: 36px;
            position: relative;
            
            a {
                text-decoration: none;
                color: $color-light;
                font-size: 22px;
            }
        }
    }
}

/* Spalsh */
.splash {
    height: 100vh; 
    position: relative;
    background-image: url("https://images.pexels.com/photos/6134552/pexels-photo-6134552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;  
    background-attachment: fixed;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page-title {
    color: $color-light;
    font-size: 60px;
    margin: 48px 0 0 0;
    letter-spacing: 2px;
}

.page-subtitle {
    color: $color-light;
    font-size: 20px;
    margin: 48px 0 0 0;
    letter-spacing: 2px;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 10px auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    color:$color-dark;
    border-color: $color-one;
    background: $color-one;
}

.page-title {
    color: $color-light;
    font-size: 48px;
}

.page-subtitle {
    color: $color-light;
    font-size: 48px;
}